

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" rel="stylesheet">

 <!-- <button type="button" class="btn btn-primary" (click)="openAlertModal()">Notification</button>
  -->
<!-- <ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template> -->

<button type="button" class="btn btn-default pull right" (click)="lgModal.show()">
   <i class='far fa-bell fa-border fa-1x'>&nbsp;&nbsp;</i> <span class="badge badge-light">9</span>
  <span class="sr-only">Notification</span>
</button>

<p (click)="lgModal.show()">
  
  <mat-icon matBadge="15" matBadgeColor="warn">help</mat-icon>
    <!-- Include text description of the icon's meaning for screen-readers -->
    <span class="cdk-visually-hidden">
      Example with a home icon with overlaid badge showing the number 15
    </span>
</p>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <i class='far fa-bell fa-2x'>&nbsp;&nbsp;</i> <h4 id="dialog-sizes-name1" class="modal-title pull-left">Alert</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mat-tab-group>
          <mat-tab label="Drafts" active=true> <app-drafts></app-drafts> </mat-tab>
          <mat-tab label="Notifications"> <app-notifications></app-notifications> </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>

<!-- <app-notifications *ngIf=notificationAlertStatus></app-notifications> -->